body{
	margin: 0;
}

.bs-cont{
	height: 100vh;
}
.bs-col{
	height: 100vh;
}

.sidebar-1{

}

code{
	background-color: transparent;
}


@media (max-width: 992px){
	.sidebar-1{
		height: 80vh;
	}

}


@media (max-width: 768px){
	.sidebar-1{
		height: 20vh;
	}

}